<div id="root-blog-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center root-heading">
        <h2>DEMO</h2>
        <p><span>XXXX <a href="/demo">Demo</a></span></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-center">
        <div class="blog-inner">
          <a href="#"><img class="img-responsive" src="/images/demo.png" alt="Demo"></a>
          <div class="desc">
            <h3><a href="#">XXXXX</a></h3>
            <p>YYYYY</p>
            <p><a href="/demo" class="btn btn-primary btn-outline">To Demo<i class="icon-arrow-right"></i></a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
