<section class="content pt-3">
  <div class="container-fluid">
    <div class="row">
      <% if can?(:calendar, :home) %>
        <div class="col-sm-12 col-md-6">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1">
              <a href="<%= calendar_homes_path(params[:company_code]) %>"><i class="fas fa-calendar-alt"></i></a>
            </span>

            <div class="info-box-content">
              <span class="info-box-text"><%= t('common.calendar_event_list') %></span>
              <%
                prev_month = (DateTime.now - 1.month).at_end_of_month
                event_count = @calendar_events.select{ |c| c.start > prev_month }.size()
              %>
              <span class="info-box-number"><%= event_count %><small>件</small></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
