<div id="root-blog-section" style="background-image: url('/images/home_bg.png');background-repeat: no-repeat;background-position: center;background-size: 50%;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-3 text-center root-heading">
        <h2>&nbsp;</h2>
        <p><span>&nbsp;<a href="#"></a>&nbsp;</span></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 text-center">

      </div>
    </div>
  </div>
</div>
