<div id="root-blog-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-3 text-center root-heading">
        <p><%= image_tag @company.logo.try(:thumb_220).try(:url) if @company.logo.present? %></p>
        <h2><%= @company.name %></h2>
        <p><span>
          <a href="<%= new_user_session_path(@company.code) %>" class="btn btn-primary btn-outline"><%= t('.to_login') %><i class="icon-arrow-right"></i></a>
        </span></p>
      </div>
    </div>
  </div>
</div>
