<div class="content-wrapper">
  <%= render 'content_header', active_breadcrumb_item: Const::View::Name::LINE_NOTIFY %>
  <%= render 'form_line', customer: @customer, line_message: @line_message %>
</div>
