<div class="direct-chat-msg">
  <div class="direct-chat-infos clearfix">
    <span class="direct-chat-name float-left"><%= customer.name %></span>
    <span class="direct-chat-timestamp float-right"><%= message.created_at.strftime("%Y-%m-%d %H:%M") %></span>
  </div>
  <div class="direct-chat-img" >▶︎</div>
  <div class="direct-chat-text">
    <%= message.message.to_s %>
  </div>
</div>
