<div class="direct-chat-msg">
  <div class="direct-chat-infos clearfix">
    <span class="direct-chat-name float-left"><%= customer.name %>&nbsp;</span>
    <span class="direct-chat-timestamp float-left"><%= message.created_at.strftime("%Y/%m/%d %H:%M") %></span>
  </div>
  <div class="w-10 direct-chat-text float-left text-left" style="margin-left: 0px;">
    <%= message.message.to_s %>
  </div>
</div>
